.card {
  background: #fff;
  border: 1px solid #1c1b1b;
  border-radius: 4px;
  font-weight: bold;
  height: 9rem;
  width: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.corner-card-number {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.main-card-number {
  font-size: x-large;
}
